@mixin font ($font_weight) {
	
		font-family: 'Lato';
		font-weight: $font_weight;
		
	}
	
@mixin hover_alt {
	a {
		&:hover, &:active, &:focus {
			color:$darkpink;
			font-weight: bold;
			}
		
	}
}

@mixin tab-styling-active {
	background: $darkpink;
	color: $lightpink;
	border: 0.2rem solid $darkpink;
} 

@mixin white-space {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}