// Colors

$darkpink: #C4558C;
$mediumpink: #F4ACB7;
$lightpink: #FFCAD4;
$lightgreen: #D8E2DC;
$skin: #FFE5D9;


// Vertical Rhythm

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;


// Fonts

$llight: 300;
$lregular: 400;
$lmedium: 700;
$lbold: 900;